
svg {
  @include global-transition(0.1s);
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-cart {
  width: 20px;
  height: 17px;
  margin-left: 6px;
  fill: #fff;
}

.icon-arrow-right {
  width: 13px;
  height: 20px;
}

.icon-close {
  width: 20px;
  height: 20px;
  fill: $purple;
}