
.footer {
  @include cf;
  padding: $base 20px;
  background: $dk-purple;
  color: #fff;

  @include bp-min-width($large) {
    padding: $base 40px;
  }
}

.footer a {
  color: #fff;
}

.footer p {
  @include font-size(13px);
}

.footer .copyright {
  @include bp-min-width($medium) {
    float: left;
  }
}

.footer .security {
  @include bp-min-width($medium) {
    @include cf;
    float: right;
  }
}

.footer .security li {
  @include bp-min-width($medium) {
    float: left;
  }
}

.footer .security li:not(:last-child) {
  @include bp-min-width($medium) {
    margin-right: 24px;
  }
}

.logo-powered-by {
  width: 80px;
}
