* {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button, input {
  line-height: normal;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

iframe {
  width: 100%;
}

object {
  max-width: 100%;
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font: 400 1em/1.5em "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  color: #2a1c51;
}

h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 15px;
  font-size: 0.9375rem;
}

h4, h5 {
  font-size: 15px;
  font-size: 0.9375rem;
  font-weight: 700;
}

p {
  font-size: 15px;
  font-size: 0.9375rem;
}

strong, b {
  font-weight: 700;
}

em {
  font-style: italic;
}

.page-title {
  font-weight: 700;
}
@media (min-width: 62.5em) {
  .page-title {
    font-size: 36px;
    font-size: 2.25rem;
  }
}

.content h3 {
  margin-bottom: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.label {
  font-weight: 700;
}

.body p,
.body ul,
.body ol {
  margin-bottom: 24px;
}
.body p:last-child, .body p.label,
.body ul:last-child,
.body ul.label,
.body ol:last-child,
.body ol.label {
  margin-bottom: 0;
}

.body ul,
.body ol {
  font-size: 15px;
  font-size: 0.9375rem;
  margin-left: 1.5em;
}

.body ul li {
  list-style: disc;
}

.body ol li {
  list-style: decimal;
}

.body h3 {
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: none;
}

.body h3,
.body h4,
.body h5 {
  line-height: 24px;
  line-height: 1.5rem;
}

.body a {
  font-weight: 500;
}

svg {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

svg:not(:root) {
  overflow: hidden;
}

[class^="icon-"] {
  display: inline-block;
  vertical-align: middle;
}

.icon-cart {
  width: 20px;
  height: 17px;
  margin-left: 6px;
  fill: #fff;
}

.icon-arrow-right {
  width: 13px;
  height: 20px;
}

.icon-close {
  width: 20px;
  height: 20px;
  fill: #6b2ca3;
}

@media (min-width: 43.75em) {
  .row {
    *zoom: 1;
    margin: 0 -20px;
  }
  .row:before, .row:after {
    content: " ";
    display: block;
  }
  .row:after {
    clear: both;
  }
}

@media (max-width: 62.4375em) {
  .row [class^='col-'] {
    margin-bottom: 24px;
  }
}
@media (min-width: 43.75em) {
  .row [class^='col-'] {
    float: left;
    padding: 0 20px;
  }
}

@media (min-width: 43.75em) {
  .col-3-4 {
    width: 75%;
  }
}

@media (min-width: 43.75em) {
  .col-2-3 {
    width: 66.66%;
  }
}

@media (min-width: 43.75em) {
  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 43.75em) {
  .col-1-3 {
    width: 33.33%;
  }
}

@media (min-width: 43.75em) {
  .col-1-4 {
    width: 25%;
  }
}

@media (min-width: 43.75em) {
  .col-1-6 {
    width: 16.666%;
  }
}

body, html {
  width: 100%;
  height: 100%;
}

.main {
  *zoom: 1;
  position: relative;
  width: 100%;
  min-height: 100%;
}
.main:before, .main:after {
  content: " ";
  display: block;
}
.main:after {
  clear: both;
}

.content {
  *zoom: 1;
  width: 100%;
  padding: 24px 20px;
  border-top: 1px solid #e1dee9;
}
.content:before, .content:after {
  content: " ";
  display: block;
}
.content:after {
  clear: both;
}
@media (min-width: 62.5em) {
  .content {
    padding: 36px 5%;
    border-left: 300px solid #6b2ca3;
  }
}

a {
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
  color: #6b2ca3;
}
a:hover {
  color: #c9a737;
}

.btn {
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  font-size: 17px;
  font-size: 1.0625rem;
  display: block;
  padding: 0.75em 1.5em;
  background: #c9a737;
  border-radius: 4px;
  color: #fff;
  font: 500 1em/1.5em "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 37.5em) {
  .btn {
    display: inline-block;
  }
}
.btn:hover {
  color: #fff;
  background: #ae8c1c;
}

.btn.btn-lt-purple {
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  font-size: 17px;
  font-size: 1.0625rem;
  display: block;
  padding: 0.75em 1.5em;
  background: #c9a737;
  border-radius: 4px;
  color: #fff;
  font: 500 1em/1.5em "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  background: #e1dee9;
  color: #2a1c51;
}
@media (min-width: 37.5em) {
  .btn.btn-lt-purple {
    display: inline-block;
  }
}
.btn.btn-lt-purple:hover {
  color: #fff;
  background: #ae8c1c;
}
.btn.btn-lt-purple:hover {
  background: #cbc4df;
  color: #2a1c51;
}

input[type="submit"],
input[type="button"],
button {
  -moz-transition: background 0.15s ease-in;
  -o-transition: background 0.15s ease-in;
  -webkit-transition: background 0.15s ease-in;
  transition: background 0.15s ease-in;
  font-size: 17px;
  font-size: 1.0625rem;
  display: block;
  padding: 0.75em 1.5em;
  background: #c9a737;
  border-radius: 4px;
  color: #fff;
  font: 500 1em/1.5em "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
}
@media (min-width: 37.5em) {
  input[type="submit"],
  input[type="button"],
  button {
    display: inline-block;
  }
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  color: #fff;
  background: #ae8c1c;
}
@media (max-width: 37.4375em) {
  input[type="submit"],
  input[type="button"],
  button {
    width: 100%;
  }
}

.form-header {
  margin-bottom: 48px;
}

/** Form Block ============**/
.form-block {
  margin-bottom: 48px;
}
.form-block h3, .form-block h4, .form-block p {
  margin-bottom: 12px;
}
.form-block p {
  max-width: 840px;
}
.form-block p:last-of-type {
  margin-bottom: 24px;
}

/** Form Item ============**/
.form-item,
.form-item-set {
  margin-bottom: 12px;
}
.form-item:last-of-type,
.form-item-set:last-of-type {
  margin-bottom: 0;
}

.form-item-set .form-item {
  margin-bottom: 0;
}

.form-two-col {
  *zoom: 1;
}
.form-two-col:before, .form-two-col:after {
  content: " ";
  display: block;
}
.form-two-col:after {
  clear: both;
}
.form-two-col .form-item {
  float: left;
  width: 42%;
  margin-right: 4%;
}
@media (max-width: 31.1875em) {
  .form-two-col .form-item {
    float: none;
    width: 100%;
    margin-right: 0;
  }
}

label {
  font-size: 15px;
  font-size: 0.9375rem;
  display: block;
  font-weight: 500;
  margin-bottom: 4px;
}

.form-helper {
  font-size: 13px;
  font-size: 0.8125rem;
  font-weight: 400;
}
.form-helper a {
  border-bottom: 1px solid #c9a737;
}
.form-helper a:hover {
  border-color: #fff;
}

label .form-helper {
  margin-left: 4px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #2a1c51;
  outline: none;
  font: 400 1em/1em "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
}
@media (min-width: 37.5em) {
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    max-width: 420px;
  }
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid #6b2ca3;
}

select {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  background: none;
  border: 1px solid #2a1c51;
  border-radius: 0;
  outline: none;
  font: 400 1em/1em "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
}

textarea {
  height: 96px;
  resize: none;
}

/** Select ============**/
.form-select {
  position: relative;
}
@media (min-width: 37.5em) {
  .form-select {
    max-width: 420px;
  }
}
.form-select:before {
  content: "";
  position: absolute;
  bottom: 18px;
  right: 17px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #6b2ca3;
}

.form-select select {
  -moz-appearance: none;
  -webkit-appearance: none;
  /*
    text-indent: 0.01px;
    text-overflow: '';
  */
}

select::-ms-expand {
  display: none;
}

/** Fieldset ============**/
fieldset {
  margin-bottom: 48px;
}
fieldset:last-of-type {
  margin-bottom: 24px;
}

fieldset .title,
.order-summary .title {
  padding-bottom: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #eef1f2;
  font: 400 24px/1 "Gotham A", "Gotham B", Helvetica, arial, sans-serif;
}

/** Checkboxes ============**/
input[type="checkbox"] {
  -webkit-appearance: checkbox;
}

.form-checkbox {
  position: relative;
  margin-bottom: 0.5em;
}
.form-checkbox input {
  opacity: 0;
  float: left;
  width: 20px;
}

.form-checkbox label {
  padding-left: 20px;
  margin-bottom: 0;
  cursor: pointer;
}
.form-checkbox label:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  width: 13px;
  height: 13px;
  border-radius: 3px;
}
.form-checkbox label .description {
  display: block;
  font-size: 12px;
  line-height: 1;
}

.form-checkbox input[type="checkbox"]:checked + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 13px;
  height: 15px;
}

.checkboxes input {
  opacity: 0;
  float: left;
  width: 20px;
}

/** Radio ============**/
.form-radio label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.form-radio input[type="radio"] {
  display: inline-block;
  vertical-align: middle;
  outline: none;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  border: 1px solid #6b2ca3;
  box-shadow: inset 0 0 0 4px #fff;
  border-radius: 50%;
}

.form-radio input[type="radio"]:checked {
  background: #6b2ca3;
}

.form-radio input[type="text"] {
  margin-top: 6px;
}

/** Messages ============**/
.message {
  margin-bottom: 12px;
  font-weight: 700;
}
.message.success {
  color: #339900;
}
.message.error {
  color: #cc3333;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  text-align: left;
}

.categories-nav {
  background: #6b2ca3;
}
@media (min-width: 62.5em) {
  .categories-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    padding: 36px 0;
  }
}

.categories-nav li a {
  font-size: 15px;
  font-size: 0.9375rem;
  display: block;
  position: relative;
  padding: 6px 20px;
  color: #fff;
  font-weight: 500;
}
.categories-nav li a:hover, .categories-nav li a.active {
  background: rgba(255, 255, 255, 0.1);
}
@media (min-width: 62.5em) {
  .categories-nav li a {
    padding: 6px 40px;
  }
}

.categories-nav-title {
  line-height: 24px;
  line-height: 1.5rem;
  padding: 0 40px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 62.4375em) {
  .categories-nav-title {
    position: relative;
    padding: 12px 20px;
    cursor: pointer;
  }
}
@media (min-width: 62.5em) {
  .categories-nav-title {
    margin-bottom: 24px;
    color: #c9a737;
  }
}

@media (max-width: 62.4375em) {
  .categories-nav-title:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 20px;
  }
}

@media (max-width: 62.4375em) {
  .categories-nav-items {
    display: none;
    padding-bottom: 12px;
  }
}

@media (max-width: 62.4375em) {
  .categories-nav-items.is-active {
    display: block;
  }
}

.product-grid {
  *zoom: 1;
  text-align: center;
}
.product-grid:before, .product-grid:after {
  content: " ";
  display: block;
}
.product-grid:after {
  clear: both;
}

.product-grid .col-1-3 {
  margin-bottom: 48px;
}

.product-thumb {
  margin-bottom: 12px;
}

.product-title {
  margin-bottom: 6px;
}

.product-title a {
  color: #2a1c51;
  font-weight: 500;
}
.product-title a:hover {
  color: #6b2ca3;
}

.product-price {
  color: #6b2ca3;
  font-weight: 500;
}

.page-header {
  margin-bottom: 24px;
}
@media (min-width: 62.5em) {
  .page-header {
    margin-bottom: 36px;
  }
}

.page-header p {
  margin-top: 24px;
}

.news-notes {
  margin-bottom: 36px;
}
@media (min-width: 62.5em) {
  .news-notes {
    margin-bottom: 72px;
  }
}
@media (min-width: 75em) {
  .news-notes {
    position: relative;
    padding-left: 220px;
  }
}

.news-notes h3 {
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 75em) {
  .news-notes h3 {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.news-notes p {
  font-style: italic;
}
@media (max-width: 31.1875em) {
  .news-notes p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: none;
}
@media (min-width: 43.75em) {
  .modal {
    position: absolute;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  max-width: 600px;
  width: 100%;
  padding: 24px 20px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 43.6875em) {
  .modal-wrapper {
    overflow-y: scroll;
  }
}
@media (min-width: 43.75em) {
  .modal-wrapper {
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: auto;
    padding: 36px 40px;
  }
}

.close-modal {
  position: absolute;
  top: 0;
  right: 0;
  width: 46px;
  height: 46px;
  padding: 12px 0 0 12px;
  background: #6b2ca3;
}
@media (min-width: 43.75em) {
  .close-modal {
    top: -46px;
  }
}

.close-modal .icon-close {
  display: block;
  width: 22px;
  height: 22px;
  fill: #fff;
}

.modal-title {
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 24px;
  padding-right: 50px;
}

.modal h3 {
  font-weight: bold;
}

.modal p:not(:last-child) {
  margin-bottom: 24px;
}

.modal-body {
  position: relative;
  overflow: hidden;
  height: 80%;
}
@media (min-width: 43.75em) {
  .modal-body {
    height: 240px;
  }
}

.optiscroll-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;
  padding-right: 40px;
}

.optiscroll-v {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 8px;
  background: #eee;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}

.optiscroll-vtrack {
  display: block;
  position: absolute;
  right: 1px;
  width: 6px;
  background: #d1d1d1;
  border-radius: 5px;
}

.product-body {
  position: relative;
}
@media (min-width: 43.75em) {
  .product-body {
    padding-left: 240px;
  }
}

.product-image {
  margin-bottom: 24px;
}
@media (min-width: 43.75em) {
  .product-image {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.product-description {
  margin-bottom: 24px;
}

@media (max-width: 37.4375em) {
  .product-description p {
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 20px;
    line-height: 1.25rem;
  }
}

.product-price {
  font-size: 24px;
  font-size: 1.5rem;
  margin-bottom: 24px;
}

.form-quantity {
  margin-bottom: 24px;
}

.form-quantity label {
  display: inline;
  margin-right: 10px;
}

.form-quantity input {
  width: 60px;
}

.product-body textarea {
  height: 48px;
}
@media (min-width: 37.5em) {
  .product-body textarea {
    max-width: 420px;
  }
}

@media (min-width: 43.75em) {
  .cart-table,
  .cart-thead,
  .cart-tbody {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@media (max-width: 43.6875em) {
  .cart-table {
    border-top: 1px solid #e1dee9;
  }
}

@media (max-width: 43.6875em) {
  .cart-row {
    padding: 12px;
  }
}
@media (min-width: 43.75em) {
  .cart-row {
    display: table-row;
    width: 100%;
  }
}

@media (max-width: 43.6875em) {
  .cart-col {
    position: relative;
    padding-left: 100px;
  }
}
@media (min-width: 43.75em) {
  .cart-col {
    display: table-cell;
    padding: 12px;
    vertical-align: middle;
  }
}

.cart-row:nth-child(1) {
  font-size: 17px;
  font-size: 1.0625rem;
  background: #2a1c51;
  color: #fff;
  font-weight: 500;
}
@media (max-width: 43.6875em) {
  .cart-row:nth-child(1) {
    display: none;
  }
}

.cart-row:not(:nth-child(1)):nth-child(2n+1) {
  background: #e1dee9;
}

.cart-row:not(:nth-child(1)) {
  font-size: 15px;
  font-size: 0.9375rem;
  border-left: 1px solid #e1dee9;
  border-right: 1px solid #e1dee9;
  font-weight: 500;
}

.cart-row:last-child {
  border-bottom: 1px solid #e1dee9;
}

.cart-col:first-child {
  padding-right: 0;
}
@media (max-width: 43.6875em) {
  .cart-col:first-child {
    display: none;
  }
}

.cart-total {
  font-size: 24px;
  font-size: 1.5rem;
  margin: 24px 0;
  font-weight: 500;
}
@media (min-width: 43.75em) {
  .cart-total {
    margin: 36px 0;
    text-align: right;
  }
}

@media (min-width: 43.75em) {
  .cart-actions {
    text-align: right;
  }
}

.cart-actions .btn:nth-child(1) {
  margin-bottom: 12px;
}
@media (min-width: 43.75em) {
  .cart-actions .btn:nth-child(1) {
    float: right;
    margin-left: 12px;
  }
}

@media (min-width: 43.75em) {
  .cart-actions .btn:nth-child(2) {
    margin-left: 12px;
  }
}

@media (max-width: 43.6875em) {
  .cart-col:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }

  .cart-col:nth-child(2):before {
    content: "Item";
  }

  .cart-col:nth-child(3):before {
    content: "Student";
  }

  .cart-col:nth-child(4):before {
    content: "Quantity";
  }

  .cart-col:nth-child(5):before {
    content: "Price";
  }

  .cart-col:nth-child(6):before {
    content: "Total";
  }
}
.account-login h3 {
  color: #6b2ca3;
}
.account-login h3:nth-of-type(2) {
  margin-top: 36px;
}

.account-login .form-item {
  max-width: 420px;
}

.account-login .form-item:last-child {
  margin-top: 24px;
}

.top-bar {
  *zoom: 1;
  padding: 12px 20px;
  background: #2a1c51;
}
.top-bar:before, .top-bar:after {
  content: " ";
  display: block;
}
.top-bar:after {
  clear: both;
}
@media (min-width: 62.5em) {
  .top-bar {
    padding: 12px 40px;
  }
}

.top-bar a {
  color: #fff;
}

.top-bar .school-link {
  font-size: 13px;
  font-size: 0.8125rem;
  float: left;
}
@media (max-width: 43.6875em) {
  .top-bar .school-link {
    display: none;
  }
}

.account-nav {
  float: right;
}

.account-nav li {
  font-size: 15px;
  font-size: 0.9375rem;
  float: left;
  font-weight: 500;
}

.account-nav li:not(:first-child) {
  margin-left: 60px;
}

.header {
  *zoom: 1;
  position: relative;
  padding: 12px 0;
}
.header:before, .header:after {
  content: " ";
  display: block;
}
.header:after {
  clear: both;
}
@media (min-width: 43.75em) {
  .header {
    padding: 24px 0;
  }
}

.header .logo {
  position: relative;
  padding-left: 20px;
}
@media (max-width: 74.9375em) {
  .header .logo {
    *zoom: 1;
    margin-bottom: 24px;
  }
  .header .logo:before, .header .logo:after {
    content: " ";
    display: block;
  }
  .header .logo:after {
    clear: both;
  }
}
@media (max-width: 43.6875em) {
  .header .logo {
    margin-bottom: 12px;
  }
}
@media (min-width: 75em) {
  .header .logo {
    float: left;
    width: 66%;
    padding-left: 40px;
  }
}

.header .logo-image {
  position: relative;
  z-index: 10;
  display: block;
  float: left;
  width: 60px;
  margin-right: 20px;
}
@media (min-width: 62.5em) {
  .header .logo-image {
    width: 84px;
    margin-right: 40px;
  }
}

.header .logo-titles {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  padding-left: 84px;
}
@media (min-width: 62.5em) {
  .header .logo-titles {
    padding-left: 124px;
  }
}

.header .logo .school-title {
  margin-bottom: 4px;
  color: #6b2ca3;
}
@media (max-width: 62.4375em) {
  .header .logo .school-title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}
@media (min-width: 62.5em) {
  .header .logo .school-title {
    margin-bottom: 12px;
  }
}

.header .logo .site-title {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 700;
}
@media (min-width: 62.5em) {
  .header .logo .site-title {
    font-size: 24px;
    font-size: 1.5rem;
  }
}

@media (max-width: 74.9375em) {
  .header-nav {
    *zoom: 1;
    position: relative;
    clear: both;
    border-top: 1px solid #e1dee9;
  }
  .header-nav:before, .header-nav:after {
    content: " ";
    display: block;
  }
  .header-nav:after {
    clear: both;
  }
}
@media (max-width: 43.6875em) {
  .header-nav {
    padding-top: 12px;
  }
}
@media (min-width: 43.75em) and (max-width: 74.9375em) {
  .header-nav {
    padding-top: 24px;
  }
}
@media (min-width: 75em) {
  .header-nav {
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 40px;
  }
}

.header-nav .nav-items {
  *zoom: 1;
}
.header-nav .nav-items:before, .header-nav .nav-items:after {
  content: " ";
  display: block;
}
.header-nav .nav-items:after {
  clear: both;
}
@media (max-width: 37.4375em) {
  .header-nav .nav-items {
    display: none;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .header-nav .nav-items {
    float: left;
    padding-left: 20px;
  }
}
@media (min-width: 75em) {
  .header-nav .nav-items {
    margin-bottom: 12px;
  }
}
.header-nav .nav-items.is-active {
  display: block;
}

@media (min-width: 37.5em) {
  .header-nav li {
    float: left;
  }
}

@media (min-width: 37.5em) {
  .header-nav li:not(:first-child) {
    margin-left: 40px;
  }
}

.header-nav li a {
  font-size: 15px;
  font-size: 0.9375rem;
  color: #2a1c51;
  font-weight: 500;
}
@media (max-width: 37.4375em) {
  .header-nav li a {
    display: block;
    margin: 12px 0 -12px;
    padding: 6px 20px;
    background: #e1dee9;
  }
}
.header-nav li a:hover {
  color: #6b2ca3;
}

.header-nav .nav-cta {
  font-size: 17px;
  font-size: 1.0625rem;
  color: #6b2ca3;
  font-weight: 700;
  text-align: right;
}
@media (max-width: 37.4375em) {
  .header-nav .nav-cta {
    position: absolute;
    top: 12px;
    right: 20px;
  }
}
@media (min-width: 37.5em) {
  .header-nav .nav-cta {
    float: right;
  }
}
@media (min-width: 37.5em) and (max-width: 74.9375em) {
  .header-nav .nav-cta {
    padding-right: 20px;
  }
}
@media (min-width: 75em) {
  .header-nav .nav-cta {
    font-size: 21px;
    font-size: 1.3125rem;
    clear: left;
  }
}
.header-nav .nav-cta:hover {
  color: #2a1c51;
}

@media (max-width: 43.6875em) {
  .header-nav .nav-cta .first-time {
    display: none;
  }
}

.nav-cta .icon-arrow-right {
  margin-left: 4px;
  fill: #6b2ca3;
}

.mobile-nav-trigger {
  margin-left: 20px;
  color: #2a1c51;
  font-weight: 500;
}
@media (min-width: 37.5em) {
  .mobile-nav-trigger {
    display: none;
  }
}

.icon-menu {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-left: 4px;
}

.menu-bar {
  -moz-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  display: block;
  position: absolute;
  left: 0;
  width: 20px;
  height: 3px;
  margin-bottom: 4px;
  background: #2a1c51;
}

.menu-bar:nth-child(1) {
  top: 0;
}

.is-active .menu-bar:nth-child(1) {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 7px;
}

.menu-bar:nth-child(2) {
  top: 7px;
}

.is-active .menu-bar:nth-child(2) {
  opacity: 0;
}

.menu-bar:nth-child(3) {
  top: 14px;
}

.is-active .menu-bar:nth-child(3) {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
}

.footer {
  *zoom: 1;
  padding: 24px 20px;
  background: #2a1c51;
  color: #fff;
}
.footer:before, .footer:after {
  content: " ";
  display: block;
}
.footer:after {
  clear: both;
}
@media (min-width: 62.5em) {
  .footer {
    padding: 24px 40px;
  }
}

.footer a {
  color: #fff;
}

.footer p {
  font-size: 13px;
  font-size: 0.8125rem;
}

@media (max-width: 43.6875em) {
  .footer .copyright {
    margin-bottom: 24px;
  }
}
@media (min-width: 43.75em) {
  .footer .copyright {
    float: left;
  }
}

@media (min-width: 43.75em) {
  .footer .security {
    *zoom: 1;
    float: right;
  }
  .footer .security:before, .footer .security:after {
    content: " ";
    display: block;
  }
  .footer .security:after {
    clear: both;
  }
}

@media (min-width: 43.75em) {
  .footer .security li {
    float: left;
  }
}

@media (max-width: 43.6875em) {
  .footer .security li:not(:last-child) {
    margin-bottom: 12px;
  }
}
@media (min-width: 43.75em) {
  .footer .security li:not(:last-child) {
    margin-right: 24px;
  }
}

.logo-powered-by {
  width: 80px;
}
